<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SampleTest" value="false"/>
    <add key="SampleTest2" value="false"/>
    <add key="Artinstitute" value="true"/>
    <add key="BrownMackieTest" value="false"/>
    <add key="AIOnlineTest" value="false"/>
    <add key="AIAdvantageTest" value="false"/>
    <add key="SouthUniversityTest" value="false"/>
    <add key="VisitArgosyTest" value="false"/>
  </appSettings>
</configuration>