<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SolutionPath" value="D:\EDMC_SVN\trunks\Automation"/>
    <add key="ZipFileLocation" value="D:\BuildTest"/>
    <add key="ZipFileName" value="EDMC.FunctionalTest"/>
    <add key="Version" value="v1.0"/>
    <add key="BuildLogFilePath" value="D:\BuildTest"/>
    <add key="BuildLogFileName" value="build"/>
  </appSettings>
</configuration>