<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>        
    <add key="MOGAUrl" value="http://stageesovidui.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MOGADutchUrl" value="http://stageesovidui.azurewebsites.net/nl" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MOGAdashBoardAdminUrl" value="http://eusdevovidadmin.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MOGARegistrationPageUrl" value="http://stageesovidui.azurewebsites.net/en/Account/Registration?" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--<add key="MOGATestDataFile" value="C:\TestData\MOGA\MOGA_QATestData.xls" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->  
  </appSettings>
</configuration>