<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <appSettings>
    <!--MOGAUrl is the test environment where these test supposed to run-->
    <add key="MOGAUrl" value="https://wkhmrovidui.azurewebsites.net/"/>
    <add key="MOGADutchUrl" value="https://wkhmrovidui.azurewebsites.net/nl"/>
    <add key="MOGAdashBoardAdminUrl" value="http://eusdevovidadmin.azurewebsites.net"/>
    <add key="MOGARegistrationPageUrl" value="http://eusdevovidui.azurewebsites.net/en/Account/Registration?"/>
    <!--Url is automation preview environment where these test supposed to run-->
    <!--<add key="MOGAUrl" value="http://euspreviewovidui.azurewebsites.net/"/>-->
    
    <add key="OvidSPProductionUrl" value="http://ovidsp.ovid.com/"/>  
    <add key="SSRUrl" value="http://eusdevovidui.azurewebsites.net/"/>
    <add key="MOGATestDataFileRelativePath" value="\\TestData\\MOGA_TestData.xls" />
    <add key="TestDataPerameterization" value="N" />
    <add key="Product" value="MOGA"/>
    <add key="DataBase" value="Medline"/>
    <add key="DriverPath" value="C:\Drivers"/>
    <!--Browser: IE-->
    <!--<add key="BrowserType" value="IE"/>-->
    <!--Browser: Chrome-->
    <!--<add key="BrowserType" value="Chrome"/>-->
    <!--Browser: FF-->
    <add key="BrowserType" value="FireFox"/>
    <add key="OutlookURL" value="https://mail.wkglobal.com/OWA/auth/logon.aspx?"/>
    <add key="OutlookUserID" value="na\ovidqa.automation"/>
    <add key="OutlookPwd" value="QAautomate1"/>
    <add key="ReportPath" value="C:\\SeleniumReport\\"/>
  </appSettings>
</configuration>