<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="executionpath" value="D:\\WalterKlower\\QA Automation\\Selenium\\WKH.MOGA-DevBranch-Refactor\\WKH.MOGA.UIAutomation\\" />
    <add key="baseurl" value="http://t01-www.vss-eng.com" />
    <add key="browser" value="chrome" />
    <!-- firefox,ie,chrome -->
    <add key="WaitForPageResponseSyncTimeMilliSeconds" value="5000" />
  </appSettings>
</configuration>